//BACKGROUND COLORS
$bgc: #14181C;
$bgc1: #202024;
$bgc2: #202024;

$yellow: #ffff00;
$blue: #1B6DE0;
$blueShade: rgba(27, 109, 224, 0.10);
$lightBlue: #1DA1F2;

// TEXT COLORS
$txt: #ffffff;
$whiteTxt: #ffffff;
$lightWhite: rgba(255, 255, 255, 0.50);
$redText: #FF0031;
$greenTxt: #5DC942;
$blueTxt: #1B6DE0;
$greyTxt: rgba(255, 255, 255, 0.3);
$ligthGrey: #A8A8A8;

// TABLE
$tableTh: rgba(27, 109, 224, 0.30);

// BUTTON
$btnColor: #5E72E4;

// BORDER COLOR
$border: #1B6DE0;


