// PROXIMA NOVA
@font-face{
    font-family: proxima-Semibold;
    src: url('../fonts/PROXIMANOVA-SBOLD-WEBFONT.TTF');
}

// NOTO SANS
@font-face{
    font-family: noto-Bold;
    src: url('../fonts/Noto_Sans/NotoSans-Bold.ttf');
}

// GOTHAM 
@font-face{
    font-family: gotham-Black;
    font-style: normal;
    src: url('../fonts/Gotham/Gotham-Black.otf');
}
@font-face{
    font-family: gotham-Regular;
    font-style: normal;
    src: url('../fonts/Gotham/GothamBook.ttf');
}
@font-face{
    font-family: gotham-Medium;
    font-style: normal;
    src: url('../fonts/Gotham/GothamMedium.ttf');
}